@keyframes slideOutLeft {
    0% {
        transform: translateX(-50px);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideOutRight {
    0% {
        transform: translateX(50px);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.animate-left {
    animation: slideOutLeft 0.5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.animate-right {
    animation: slideOutRight 0.5s linear infinite;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

.scroll::-webkit-scrollbar {
    height: 10px;
}

@media (max-width: 640px) {
    @keyframes slideOutLeft {
        0% {
            transform: translateX(-150px);
            opacity: 1;
        }
        100% {
            transform: translateX(-100%);
            opacity: 0;
        }
    }

    @keyframes slideOutRight {
        0% {
            transform: translateX(150px);
            opacity: 1;
        }
        100% {
            transform: translateX(100%);
            opacity: 0;
        }
    }
}
